

body,
html {
    height: 100%;
    font-family: 'Open Sans', Arial, sans-serif;
    background-color: #0b63ba;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.landing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

#logo {
    width: 800px;
    margin-bottom: 30px;
}

.start-button {
    background-color: #ffcc00;
    color: #003366;
    padding: 15px 40px;
    font-size: 1.5em;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.start-button:hover {
    background-color: #ffdd33;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    #logo {
        width: 250px;
    }

    .start-button {
        font-size: 1.3em;
        padding: 12px 30px;
    }
}